In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Columns

In [ ]:
Table()

In [ ]:
# let's recreate: https://en.wikipedia.org/wiki/2018_Winter_Olympics_medal_table

In [2]:
countries = make_array('NOR', 'GER', 'CAN')
countries

array(['NOR', 'GER', 'CAN'], dtype='<U3')

In [3]:
Table().with_column(
  'Country', countries
)

Country
NOR
GER
CAN

In [4]:
medals = make_array(39, 31, 29)
medals

array([39, 31, 29])

In [6]:
medal_count = Table().with_columns(
  'Country', countries, 
  'Medals', medals
)
medal_count

Country | Medals
NOR     | 39
GER     | 31
CAN     | 29

In [7]:
medal_count = medal_count.with_column(
  'Gold', make_array(14, 14, 11)
)
medal_count

Country | Medals | Gold
NOR     | 39     | 14
GER     | 31     | 14
CAN     | 29     | 11

In [ ]:
medal_count

## Minard's map

![Minard's Map](minard.png)

In [8]:
minard = Table.read_table('minard.csv')
minard

Longitude | Latitude | City        | Direction | Survivors
32        | 54.8     | Smolensk    | Advance   | 145000
33.2      | 54.9     | Dorogobouge | Advance   | 140000
34.4      | 55.5     | Chjat       | Advance   | 127100
37.6      | 55.8     | Moscou      | Advance   | 100000
34.3      | 55.2     | Wixma       | Retreat   | 55000
32        | 54.6     | Smolensk    | Retreat   | 24000
30.4      | 54.4     | Orscha      | Retreat   | 20000
26.8      | 54.3     | Moiodexno   | Retreat   | 12000

In [9]:
minard.relabeled('City','City Name')

Longitude | Latitude | City Name   | Direction | Survivors
32        | 54.8     | Smolensk    | Advance   | 145000
33.2      | 54.9     | Dorogobouge | Advance   | 140000
34.4      | 55.5     | Chjat       | Advance   | 127100
37.6      | 55.8     | Moscou      | Advance   | 100000
34.3      | 55.2     | Wixma       | Retreat   | 55000
32        | 54.6     | Smolensk    | Retreat   | 24000
30.4      | 54.4     | Orscha      | Retreat   | 20000
26.8      | 54.3     | Moiodexno   | Retreat   | 12000

In [10]:
minard.num_columns

5

In [11]:
minard.num_rows

8

In [12]:
minard.labels

('Longitude', 'Latitude', 'City', 'Direction', 'Survivors')

In [13]:
minard.column('Survivors')

array([145000, 140000, 127100, 100000,  55000,  24000,  20000,  12000])

In [14]:
initial_size = minard.column('Survivors').item(0)
initial_size

145000

In [15]:
proportion_surviving = minard.column('Survivors') / initial_size
proportion_surviving

array([1.        , 0.96551724, 0.87655172, 0.68965517, 0.37931034,
       0.16551724, 0.13793103, 0.08275862])

In [16]:
with_proportions = minard.with_column(
    'Proportion Surviving', proportion_surviving
)
with_proportions

Longitude | Latitude | City        | Direction | Survivors | Proportion Surviving
32        | 54.8     | Smolensk    | Advance   | 145000    | 1
33.2      | 54.9     | Dorogobouge | Advance   | 140000    | 0.965517
34.4      | 55.5     | Chjat       | Advance   | 127100    | 0.876552
37.6      | 55.8     | Moscou      | Advance   | 100000    | 0.689655
34.3      | 55.2     | Wixma       | Retreat   | 55000     | 0.37931
32        | 54.6     | Smolensk    | Retreat   | 24000     | 0.165517
30.4      | 54.4     | Orscha      | Retreat   | 20000     | 0.137931
26.8      | 54.3     | Moiodexno   | Retreat   | 12000     | 0.0827586

In [17]:
with_proportions.set_format('Proportion Surviving', PercentFormatter)

Longitude | Latitude | City        | Direction | Survivors | Proportion Surviving
32        | 54.8     | Smolensk    | Advance   | 145000    | 100.00%
33.2      | 54.9     | Dorogobouge | Advance   | 140000    | 96.55%
34.4      | 55.5     | Chjat       | Advance   | 127100    | 87.66%
37.6      | 55.8     | Moscou      | Advance   | 100000    | 68.97%
34.3      | 55.2     | Wixma       | Retreat   | 55000     | 37.93%
32        | 54.6     | Smolensk    | Retreat   | 24000     | 16.55%
30.4      | 54.4     | Orscha      | Retreat   | 20000     | 13.79%
26.8      | 54.3     | Moiodexno   | Retreat   | 12000     | 8.28%

## Rows

In [ ]:
minard

In [ ]:
minard.take(0)

In [ ]:
minard.select('City')

In [ ]:
np.arange(0, 4)

In [ ]:
minard.take(np.arange(0,4))

## Lists

All array elements must have same type.  Note that `42` becomes `'42'`:

In [18]:
make_array(42, 'hello')

array(['42', 'hello'], dtype='<U21')

In [21]:
make_array(23,3.7)

array([23. ,  3.7])

In [19]:
make_array(42, 'hello').item(0)

'42'

In [20]:
0 + make_array(42, 'hello').item(0)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

*Lists* may be hetergeneous:  elements have different types.

In [22]:
[42, 'hello']

[42, 'hello']

List indexing is written with square brackets, rather than with a method call.

In [23]:
lst = [42, 'hello']
lst[0]

42

In [24]:
0 + [42, 'hello'][0]

42

The table `take` method will accept a list as an argument.

In [25]:
minard.take([0,2,3])

Longitude | Latitude | City     | Direction | Survivors
32        | 54.8     | Smolensk | Advance   | 145000
34.4      | 55.5     | Chjat    | Advance   | 127100
37.6      | 55.8     | Moscou   | Advance   | 100000